.card {
  margin: 10px;
  display: grid;
  column-gap: 10px;
  grid-auto-columns: 100px auto;
  grid-auto-rows: 100px;
  grid-auto-flow: column;
}

.card-face {
  background: #999;
}

.card-data {
  display: grid;
  align-content: space-between;
  grid-auto-rows: 20px 45px;
}

.card-details {
  font-size: 12px;
  overflow: hidden;
}

.card-price {
  cursor: pointer;
  font-size: 14px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffdc42;
  border-radius: 100px;
}
