.search {
  display: grid;
}

.search-field {
  color: #000;
  font-size: 16px;
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 100px;
  outline: none;
}

.card-result {
  color: #fff;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-auto-columns: auto 50px 20px;
  grid-auto-flow: column;
  background: #000;
}